<button (click)="getRandomExercise()">Get Random Exercise</button>
<h1>{{ randomExercise?.name }}</h1>
<!-- <table mat-table class="table table-condensed" [dataSource]="exercises">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Exercise</th>
    <td mat-cell *matCellDef="let exercise">{{ exercise.name }}</td>
  </ng-container>
  <ng-container matColumnDef="hidden">
    <th mat-header-cell *matHeaderCellDef>Hidden</th>
    <td mat-cell *matCellDef="let exercise"></td>
  </ng-container>
</table> -->
