<h1 mat-dialog-title>Mastermind Tutorial</h1>
<mat-dialog-content>
  <div>
    <p>
      The point of mastermind is to guess the four colors, in order, that the
      creator set. Each time you make a guess, markers to the right indicate how
      well you did. A black marker means that you got one of the colors in the
      exact right location, while a white marker means that you got the right
      color, but put it in the wrong spot.
    </p>
    <p>
      The classic game of mastermind doesn't allow for the same color to appear
      twice in a puzzle. Here, however, there is an option to play with
      duplicates allowed. If you are looking to play an existing game that
      allows duplicates, look for a hot pink tag indicating so.
    </p>
    <p>
      To create a new game, click the plus button (duh).
    </p>
    <p>
      If you leave the game and come back to it, the rounds already used will be
      filled in.
    </p>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]>Close</button>
</mat-dialog-actions>
